doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/subject-list.css')
  body
    .page_title #{title}
    .subject_list
      each subject in subjects
        li
          a(href="/prof/#{subject.subjectId}") #{subject.subjectName}
