doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/prof-subject.css')
  body
    .page_title #{title}
    div(id=subject_id class="button_attendance") 출석 초기화 및 새로시작
    .current_attendance_code_title 현재 출석 코드
    .current_attendance_code
    .attendee_list_title 출석자 목록
    #attendee_list
    script(src="/javascripts/prof-subject.js")