doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/prof-subject.css')
  body
    .page_title #{title}
    div(id=subject_id class="button_attendance") Start
    .current_attendance_code_title Current Attendance Code
    .current_attendance_code
    .attendee_list_title List of Attendees
    #attendee_count Number of Attendees: 0
    #attendee_list
    script(src="/javascripts/prof-subject.js")
