doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/prof-subject.css')
  body
    .page_title #{title}
    div(id=subject_id class="button_attendance") 출석 초기화 및 새로시작
    script(src="/javascripts/prof-subject.js")